body {
  
}

.menu-bar {
  position: fixed;
  width: 100%;
  height: 87px;
  background-color: white;
}

.logo {
  padding-top: 22px;
  padding-left: 7px;
  float: left;
}

.menu {
  float: right;
  margin-right: 45px;
  background-color: #08d389;
}

.menu .cover {
  display: block;
  padding: 13px 15px 49px 15px;
}

.menu .items {
  display: none;
}

.menu .items a {
  color: white;
}

.menu .items ul {
  list-style-type: none;
  padding: 0;
}

.menu .items li {
  margin-top: 12px;
  margin-bottom: 12px;
}

.menu .items a:hover {
  color: black;
  text-decoration: underline;
}

.menu:hover {
  min-height: 5px;
  margin-right: 20px;
}

.menu:hover .cover {
  display: none;
}

.menu:hover .items {
  display: block;
  font-size: 16pt;
  padding: 20px 14px 20px 14px;
}

.main {
  padding-top: 87px;
}

section {
  margin-bottom: 180px;
}

.heading {
  font-size: 26pt;
  font-weight: bold;
  color: #08d389;
  text-align: center;
}

.footer {
  text-align: right;
  font-size: 24pt;
  font-weight: bold;
}

.footer a {
  color: #08d389;
}

.footer a:hover {
  color: #08d389;
}

.name-card {
  margin-bottom: 100px;  
}

.name.heading {
  font-size: 48pt;
  text-align: left;
}

.profession {
  font-size: 20pt;
  font-weight: bold;
  position: relative;
}

.profession span {
  margin-left: 15px;
}

.profession:before {
  content: ""; 
  width: 8px;
  height: 26px;
  background-color: #08d389;
  position: absolute;
  left: 3px;
  top: 4px;
}

/** font */
.italic {
  font-style: italic;
}

.bold {
  font-weight: bold;
}

.white {
  color: white;
}

.black {
  color: black;
}

.underline {
  text-decoration: underline;
}

/* projects */
#projects .content img {
  width: 100%;
}

#projects .main .col-sm-6 {
  padding: 40px;
}

.project-list {
  margin-bottom: 200px;
}

.article-list {
  margin-bottom: 220px;
}

.see-more {
  text-align: right;
}

.see-more a {
  color: #08d389;
  font-size: 12pt;
  font-weight: bold;
}

/* project details */
#project-details .main .content {
  width: 100%;
}

/* about me */
#about-me .main .heading {
  text-align: left;
}

#about-me .main .content {
  margin-top: 30px;
}

.self-introduction .text {
  min-height: 460px;
  font-size: 16pt;
}

.self-introduction .text .p1 {
  font-size: 20pt;
  font-weight: bold;
}

.self-introduction .text p {
  margin-bottom: 20px;
}

#about-me .main .self-introduction .heading {
  font-size: 36pt;
}

#about-me .main .self-introduction .content {
  margin-top: 45px;
}

.map {
  height: 257px
}

.my-life .pic {
  width: 100%;
}

.my-life .col-sm-4 {
  padding-left: 10px;
  padding-right: 10px;
}

.my-belief .content {
  background-image: url("../img/my-belief.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 100px 80px;
  font-size: 26pt;
}

.my-belief .quote {
  text-align: right;
}

#about-me .footer {
  text-align: center;
  font-size: 14pt;
}

#about-me .footer .link {
  display: inline-block;
}

.email {
  margin-right: 100px;
}

.linkedin, .behance {
  margin-right: 60px;
}

.btn.download {
  height: 34px;
  border: none;
  background-color: #08d389;
  box-shadow: 0 2px 4px 0 #c6c3c3;
}

.btn.download:hover {
  background-color: #04a778;
}

/* contact */
.chat {
  font-size: 18pt;
  color: #aeaeae;
  text-align: center;
}

#contact .main .content a {
  font-style: italic;
  font-weight: bold;
  color: #08d389;
}

#contact .main .content p {
  font-size: 20pt;
  margin-bottom: 30px;
}

#contact .footer {
  text-align: right;
  font-size: 24pt;
  font-weight: bold;
}
